{% extends "base.html" %}
{% block body %}
<h1 style="margin-top: 8vh;">Highscores</h1>
<div class="row">
    <div class="col-md-4 mt-3">
        <div class="card">
            <div class="card-body">
                <h3>Most Credits</h3>
                <hr>
                <div class="row">
                    {% for user in getCreditsUsers %}
                    <div class="col-md-3 pt-2 text-center">
                        <img src="https://www.habbo.com.br/habbo-imaging/avatarimage?figure={{user.look}}&direction=2&head_direction=3&gesture=sml&size=b&headonly=1" alt="" class="img-fluid" height="70" style="margin-top: -20px; margin-left: -15px;">
                    </div>
                    <div class="col-md-5 pt-2">
                        <p class="font-weight-bold">{{user.username}}</p>
                    </div>
                    <div class="col-md-4 pt-2">
                        <b>{{user.credits}}</b>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% for points in getMostPoints %}
    <div class="col-md-4 mt-3">
        <div class="card">
            <div class="card-body">
                <h3>Most {{points.currency|capitalize}}</h3>
                <hr>
                <div class="row">
                    {% for user in points.highscores %}
                    <div class="col-md-3 pt-2 text-center">
                        <img src="https://www.habbo.com.br/habbo-imaging/avatarimage?figure={{user.user.look}}&direction=2&head_direction=3&gesture=sml&size=b&headonly=1" alt="" class="img-fluid" height="70" style="margin-top: -20px; margin-left: -15px;">
                    </div>
                    <div class="col-md-5 pt-2">
                        <p class="font-weight-bold">{{user.user.username}}</p>
                    </div>
                    <div class="col-md-4 pt-2">
                        <b>{{user.amount}}</b>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}