
<!DOCTYPE HTML>
<html>
   <head>
      <title>Hotel - {{hotelname}} Hotel</title>
      <link rel="icon" href="{{client.nitro_assets_url}}/assets/images/favicon.ico">
      <link rel="stylesheet" href="{{client.nitro_assets_url}}/{{client.nitro_styles}}">
   </head>
   </head>
   <body>
      <app-root></app-root>
      <script>
         var NitroConfig = {
             configurationUrl: '{{client.nitro_assets_url}}/configuration.json',
             sso: '{{data.auth_ticket}}'
         };
      </script>
      <script src="{{client.nitro_assets_url}}/{{client.nitro_runtime}}" defer></script>
      <script src="{{client.nitro_assets_url}}/{{client.nitro_polyfills}}" defer></script>
      <script src="{{client.nitro_assets_url}}/{{client.nitro_vendor}}" defer></script>
      <script src="{{client.nitro_assets_url}}/{{client.nitro_main}}" defer></script>
   </body>
</html>
