<!DOCTYPE HTML>
<html>
   <head>
      <title>Hotel - {{hotelname}} Hotel</title>
      <link rel="icon" href="{{path}}/assets/images/favicon.ico">
      <link rel="stylesheet" href="{{path}}/nitro/{{nitro_styles}}">
   </head>
   </head>
   <body>
      <app-root></app-root>
      <script>
         var NitroConfig = {
             configurationUrl: '{{path}}/nitro/configuration.json',
             sso: '{{data.auth_ticket}}'
         };
      </script>
      <script src="{{path}}/nitro/{{nitro_runtime}}" defer></script>
      <script src="{{path}}/nitro/{{nitro_polyfills}}" defer></script>
      <script src="{{path}}/nitro/{{nitro_vendor}}" defer></script>
      <script src="{{path}}/nitro/{{nitro_main}}" defer></script>
   </body>
</html>
