{% extends "base.html" %} {% block body %}
<div class="friends" style="display: block !important">
   <div class="list">
      <ul>
         <li class="new">
            <div class="avatar">
               <img src="https://cdn.leet.ws/imaging/avatarimage?figure=lg-3138-4000-1408.hd-9805-97556.ca-8896-1408.he-3274-1408&amp;headonly=1" style="margin-top: -15px;margin-left: -10px;">
               <div class="status online"></div>
            </div>
            <div class="content">
               <div class="title">Chafulumisa</div>
            </div>
         </li>
         <li class="new">
            <div class="avatar">
               <img src="https://cdn.leet.ws/imaging/avatarimage?figure=ch-665-1410.lg-710-110.hr-7329-45.hd-600-3&amp;headonly=1" style="margin-top: -15px;margin-left: -10px;">
               <div class="status online"></div>
            </div>
            <div class="content">
               <div class="title">Cappadocia</div>
            </div>
         </li>
      </ul>
   </div>
</div>
<div class="page-content" style="margin-bottom: -25px">
   <div class="left-side">
      <article class="default-section">
         <div class="content-side">
            <h3 class="aside-title">Leet is er ook voor je vrienden</h3>
            <div class="invitation-link-container">
               <div class="copytext">
                  <p>Leet is nog leuker als je het kan delen met vrienden uit het echte leven. Stuur een uitnodiging naar je vrienden en als zij een account aanmaken en Leet actief gebruiken ontvang jij ook nog eens een mooi cadeau. Meer vrienden, meer pret, meer cadeau's!</p>
                  <input type="text" class="rounded-input blue-active username" onclick="this.focus();this.select()" readonly="readonly" value="https://www.leet.ws/register/Raizerr" style="width:100%">
               </div>
            </div>
         </div>
      </article>
   </div>
   <div class="right-side">
      <article class="default-section">
         <div class="content-side">
            <h3 class="aside-title">
               LeetMusic - 
               <div id="listeners" style="display: inline-block">32</div>
               Luisteraars
            </h3>
            <div class="no-icons" style="text-align: center">
               <div id="figure" style="background-image: url(&quot;https://www.leet.ws/api/figure/Willie&quot;); height: 115px; width: 70px; float: left;"></div>
               <audio controls="" autoplay="" id="streamPlayer" style="width: 75%" src="https://listen.leetmusic.nl/radio/8000/radio.mp3"></audio>
               <div class="radio-info">
                  <strong>Huidig nummer:</strong> 
                  <div id="song" style="display: inline-block;width: 75%;" data-original-title="mad love - sean paul ft. becky g">mad love - sean paul ft. becky g</div>
                  <br><br>
               </div>
               <div class="radio-links">
                  <a href="https://www.leetmusic.nl/shoutlijn/" target="_blank">Shoutlijn</a> | <a href="https://www.leetmusic.nl/requestlijn/" target="_blank">Requestlijn</a> | <a href="https://www.leetmusic.nl/competitielijn/" target="_blank">Competitielijn</a>
               </div>
            </div>
         </div>
      </article>
   </div>
</div>
<div class="page-content">
   <div class="articles-container">
      <div class="article-container" data-id="298">
         <a href="https://www.leet.ws/news/298-catch-the-pokmon-41" class="article-content pixelated" style="background-image: url(https://www.leet.ws/uploads/articles/67d1e13d9dbcdd49b033abafef2907675e7afb791623509608.pokémon.png);">
            <div class="article-header">
               <div class="article-category"></div>
               <div class="article-separation" style="background-color: #3aa541;"></div>
               <div class="article-title title" data-id="298">Catch the Pokémon #41</div>
               <div class="article-title title-sub" data-id="298" style="display:none"></div>
            </div>
         </a>
      </div>
      <div class="article-container" data-id="297">
         <a href="https://www.leet.ws/news/297-kraak-de-kluis-3-2" class="article-content pixelated" style="background-image: url(https://www.leet.ws/uploads/articles/60be16d425f441ec8856f16dc0e385fde85cd11c1623331083.png);">
            <div class="article-header">
               <div class="article-category"></div>
               <div class="article-separation" style="background-color: #4caf50;"></div>
               <div class="article-title title" data-id="297">Kraak de Kluis #3.2</div>
               <div class="article-title title-sub" data-id="297" style="display:none"></div>
            </div>
         </a>
      </div>
      <div class="article-container" data-id="296">
         <a href="https://www.leet.ws/news/296-catch-the-pokmon-40" class="article-content pixelated" style="background-image: url(https://www.leet.ws/uploads/articles/e10ee84b0534f5d7cb4d329ef7c2cecfb5181d291622818963.pokémon.png);">
            <div class="article-header">
               <div class="article-category"></div>
               <div class="article-separation" style="background-color: #3aa541;"></div>
               <div class="article-title title" data-id="296">Catch the Pokémon #40</div>
               <div class="article-title title-sub" data-id="296" style="display:none"></div>
            </div>
         </a>
      </div>
      <div class="article-container" data-id="295">
         <a href="https://www.leet.ws/news/295-kraak-de-kluis-3-1" class="article-content pixelated" style="background-image: url(https://www.leet.ws/uploads/articles/5e15685fc754cc6163b7fdbda7bb15f57adee7f71622728899.png);">
            <div class="article-header">
               <div class="article-category"></div>
               <div class="article-separation" style="background-color: #4caf50;"></div>
               <div class="article-title title" data-id="295">Kraak de Kluis #3.1</div>
               <div class="article-title title-sub" data-id="295" style="display:none"></div>
            </div>
         </a>
      </div>
      <div class="article-container" data-id="294">
         <a href="https://www.leet.ws/news/294-find-the-furni-9" class="article-content pixelated" style="background-image: url(https://www.leet.ws/uploads/articles/c722f2650e06d3a44cde1a7fcbff83a59b89e1b51622400715.png);">
            <div class="article-header">
               <div class="article-category"></div>
               <div class="article-separation" style="background-color: ;"></div>
               <div class="article-title title" data-id="294">Find the Furni #9</div>
               <div class="article-title title-sub" data-id="294" style="display:none"></div>
            </div>
         </a>
      </div>
      <div class="article-container" data-id="293">
         <a href="https://www.leet.ws/news/293-catch-the-pokmon-39" class="article-content pixelated" style="background-image: url(https://www.leet.ws/uploads/articles/5da64b9337b7c390a22253668c9267454c39c6541622216395.pokémon.png);">
            <div class="article-header">
               <div class="article-category"></div>
               <div class="article-separation" style="background-color: #3aa541;"></div>
               <div class="article-title title" data-id="293">Catch the Pokémon #39</div>
               <div class="article-title title-sub" data-id="293" style="display:none"></div>
            </div>
         </a>
      </div>
   </div>
   <div class="load-more-button">
      <button class="rounded-button">Meer nieuws</button>
   </div>
</div>
{% endblock %}