{% extends "admin.html" %}
{% block body %}
 <div class="container">
    <div class="d-flex align-items-baseline mr-5 py-3 py-lg-8 ">
      <h2 class="subheader-title text-dark font-weight-bold my-2 mr-3">
         Dashboard
      </h2>
   </div>
    <div class="row">
    <div class="col-xl-12">
    <div class="card card-custom">
       <div class="card-header flex-wrap py-5">
          <div class="card-title">
             <h3 class="card-label">
                Latest players
                <div class="text-muted pt-2 font-size-sm">Registerd players on {{hotelname}}</div>
             </h3>
          </div>
       </div>
       <div class="card-body">
          <!--begin: Datatable-->
          <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

             <div class="row">
                <div class="col-sm-12">
                   <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width: 999px;">
                      <thead>
                         <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Agent: activate to sort column descending">{{hotelname}}</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 210px;" aria-label="Company Email: activate to sort column ascending">IP Current</th>
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 300px;" aria-label="Company Name: activate to sort column ascending">Last Online</th>
                         </tr>
                      </thead>
                      <tbody>
                         {% for users in latestUsers %}
                         <tr role="row" class="{% if (loop.index is even) %}even{%else%}odd{%endif%}">
                            <td class="sorting_1 dtr-control">
                               <div class="d-flex align-items-center">
                                  <div class="symbol symbol-50 symbol-light-success">
                                     <div class="symbol-label font-size-h5"><img src="https://habbo.com.br/habbo-imaging/avatarimage?figure={{users.look}}&gesture=sml&headonly=1"></div>
                                  </div>
                                  <div class="ml-3">
                                     <span class="text-dark-75 font-weight-bold line-height-sm d-block pb-2">{{users.username}}</span>
                                     <a href="#" class="text-muted text-hover-primary">{{users.mail}}</a>
                                  </div>
                               </div>
                            </td>
                            <td>{{users.ip_register}}</td>
                            <td>{% if users.online %}online{%else%}{{users.last_login|date("d-m-Y H:i:s")}}{%endif%}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
         </div>
          </div>
    </div>
    <!--end: Card Body-->
</div>
<!--end: Card-->
<!--end: List Widget 10-->
    </div>
    </div>
 </div>
{% endblock %}