{% extends "base.html" %}
{% block body %}
<div class="row">
   <div class="col-md-12">
      <h1 class="mt-5">Settings</h1>
   </div>
</div>
<div class="row my-settings mt-5">
   {% include "Pages/Settings/nav.html" %}
   <div class="col-md-8 mt-2">
      <div class="card flex-column">
         <div class="card-body">
            <h4>
               Verificatie instellingen
            </h4>
            <hr>
            <form action="/settings/verification/save" method="post">
               <span>
                  <p>
                     Deze controle verhoogt de beveiliging van uw account. Wanneer u inlogt, moet u, afhankelijk van uw voorkeuren, de beveiligingsvragen beantwoorden die u hebt gedefinieerd of een code invoeren die door uw toepassing is gegenereerd.
                  </p>
               </span>
               <div class="row pt-2">
                  <div class="col">
                     <label for="password" class="bmd-label-floating">Huidig wachtwoord</label>
                     <input type="password" class="form-control" name="password">
                  </div>
               </div>
               <dl class="row mt-4">
                  <dt class="col-sm-10 pt-2">
                     <h6>Twee-staps verificatie</h6>
                     <small class="text-muted">Beveilig je account met google twee-staps verificatie</small>
                  </dt>
                  <dd class="col-sm-2 pt-2">
                     <div class="switch">
                        <label>
                        <input type="checkbox"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" {% if user.secret_code is not empty %}disabled{% endif %}>
                        </label>
                     </div>
                  </dd>
               </dl>
               <div class="collapse mt-2" id="collapseExample">
                  <hr>
                  <h6>
                     Code generen door 2FA
                  </h6>
                  <p>
                     Deze methode is het meest betrouwbaar. Het koppelt uw Hyro-account aan een authenticatietoepassing (Google Authenticator) op uw telefoon. Wanneer u zich aanmeldt, hoeft u alleen de code in te voeren die door uw app is gegenereerd.
                  </p>
                  <h6>
                     Koppel je account
                  </h6>
                  <p>
                     Om uw account te koppelen, moet u deze QR-code eenvoudig met uw toepassing scannen en vervolgens op opslaan klikken om deze wijziging te valideren.
                  </p>
                  <p class="text-center mt-5">
                  <img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2F{{hotelname}}%3A{{user.username}}%3Fsecret%3D{{token}}%26issuer%3D{{hotelname}}" alt="{{site.shortname}}">
                  </p>  
                  <input type="hidden" name="token" value="{{token}}">
                  <button class="btn btn-outline-success w-100 mt-3">Inschakelen 2FA<div class="ripple-container"></div>
                  </button>
               </div>
                {% if user.secret_code is not empty %}
                    <button class="btn btn-outline-warning w-100 mt-3">Uitschakelen 2FA<div class="ripple-container"></div>
                {% endif %}
            </form>
         </div>
      </div>
   </div>
</div>
{% if flashdata.modal %}
<div class="modal fade" id="verificationAuth" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-xl">
            <form action="/settings/verification/save " method="POST">
            <div class="modal-header">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Verificatie..</h4>
                            <hr>
                            <form action="/settings/verification/save" method="POST">
                                <label for="username">Voer je 2FA wachtwoord in</label>
                                <input type="hidden" name="token" value="{% if user.secret_code is empty %}{{old('token')}}{% else %}{{user.secret_code}}{% endif %}">
                                <input type="text" name="pincode" placeholder="Pincode..."  class="form-control">
                                <div class="row mt-3">
                                    <div class="col-12 col-xs-12 col-md-12">
                                        <input type="submit" class="btn btn-outline-info w-100"
                                               value="{% if user.secret_code is empty %}Inschakelen 2FA{% else %}Uitschakelen 2FA{% endif %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}